/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #3C4049;
}

::-webkit-scrollbar-thumb {
    background-color: #96663d;
    outline: 1px solid #3C4049;
}


::selection {
    background: #efa959;
}

::-moz-selection {
    background: #efa959;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none !important;
}
body , html{
    height: 100%;
    width: 100%
}
body {
    font: 14px 'JF-Flat', sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 1.6;
    color: #090909;
    overflow-x: hidden !important;
    direction: rtl;
    font-family: cairo
}




.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11 {
    float: right !important;
}

.no-padding {
    padding: 0 !important;
}

.no-border {
    border: 0 !important;
}

a,
button,
img,
i,
span,
li,
h4,
p,
#scroll-top,
.scaleimg,
.prod-overlay,
.product,
.prod-img,
.view-img,
.w-offers,
.form-control,
.talab1,
.branch-overlay,
.branch-img,
.chat .darker,
.comment-person,
.comment {
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: 0;
    color: #fff;
}

.input-lg {
    font-size: 15px;
    resize: none;
    height: 135px !important;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.back {
    transform: translateX(0px) !important;
    -webkit-transform: translateX(0px) !important;
    -moz-transform: translateX(0px) !important;
    -ms-transform: translateX(0px) !important;
    -o-transform: translateX(0px) !important;
}

.scaleimg:hover {
    transform: scale(1.2);
}




/*** Product Details ***/
.prod-dtls a {
    color: #090909;
    line-height: 1.8;
}

.prod-dtls a:hover,
.prod-dtls a:focus {
    color: #B3987A;
}

.prod-title {
    display: block;
    font-weight: bold;
}

.stars li {
    color: #FFF200;
    font-size: 20px;
    padding: 0 1px;
}

.price span {
    font-size: 18px;
    font-weight: bold;
}



/*Start The Special*/
.special {
   /* position: relative;*/
}

.special-content {
    margin: 65px auto 0 auto;
    position: relative;
}


/******Tabs Special********/
/**** Tab Navs *********/
.special .nav-tabs {
    position: relative;
    border: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 440px;
    text-align: center;
}

.special .nav-tabs li {
    float: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    margin: 0 auto !important;
    overflow: hidden;
    background-color: #3B2F27 !important;
    border: 1px solid #D4D4D6;
    text-align: center;
    cursor: pointer;
}

.special .nav-tabs li.active {
    cursor: default;
}

@keyframes scalee{
   0%{
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

 50% {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
       100%{
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
.scale {
    -webkit-animation: scalee 2s linear infinite;
    -moz-animation: scalee 2s linear infinite;
    -ms-animation: scalee 2s linear infinite;
    -o-animation: scalee 2s linear infinite;
    animation: scalee 2s linear infinite;
}
/******************************/
section.special ul li{
   width: 90px;
    height: 90px;
    border: 2px solid #96663d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
.special {
    
    padding: 30px;
   
}
.special .content-form {
    -webkit-box-shadow: 0px 0px 16px 0 rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 16px 0 rgb(255, 255, 255);
    box-shadow: 0px 0px 16px 0 rgb(255, 255, 255);
    padding: 20px 0;
    border-radius: 20px;
    position: relative;
    /*height: 100%;*/
    width: 100%;
}



@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);



#logo {
	    margin: 0 auto;
    width: 100%;
    font-family: 'Lily Script One', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: lightgray;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

#logo:hover {
	color:#95663f
}

form.form-login {
    padding: 5px 20px;
    width: 90%;
    margin: auto;
    text-align: right;
}

.container {
    margin-top:60px;
    
}

.sec-title.text-center h2 {
    color: #96663d;
}
.form-group label {
    font-size: 15px;
    font-weight: bold;
    color: #977e6a;
}
.form-control {
        display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff0;
    background-clip: padding-box;
    border: 0;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 2px solid #977e6a;
    color: #d3d3d3;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}


.submit{
    width: 17%;
    height: 50px;
    background-color: #fff;
    color: #986941;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s ease-in-out
}

.submit:hover {
    color: #fff;
    background-color: #96663d;
}

.align-center{
    text-align: center
}   



.form-group.align-center {
    margin-top: 40px;
}

.login {
    text-align: center;
    color: #96663d;
    font-size: 30px;
}



.container.flex-content {
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container.flex-content .row{
    width: 100%
}
.logoooo{
    margin-top: 50px !importaant;
}



/*********************************************************/
/*radio button*/
/********************************************************/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #d3d3d3;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
    width: 12px;
    height: 12px;
    background: #96663d;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
[type="radio"]:checked, [type="radio"]:not(:checked) {
   
    display: none;
}



.flex-group{
    display: flex
}


.flex-group {
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.type {
    color: #977e6a;
    margin-left: 29px;
}



.marg-right{
    margin-right: 20px
}

section.special ul li img {
    width: 50px;
}

@media screen and (max-width: 768px) {
    .ul-links{
        display: flex;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center
    }
    
    
    section.special ul li {
    width:70px;
    height: 70px; 
    margin-right: 20px
}
     section.special ul li img{
      width: 40px;
}
    .special {
    position: relative;
    padding: 30px 20px;  
}
    .submit {
        width: 50%;
    }
      #logo {
          font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .ul-links{
        display: flex;
        margin-bottom: 20px
    }
    
    
    section.special ul li {
    width: 50px;
    height: 50px; 
        margin-right: 10px
}
     section.special ul li img{
      width: 30px;
}
    .special {
    position: relative;
    padding: 30px 20px;  
}
    .submit {
        width: 50%;
    }
      #logo {
          font-size: 30px;
    }
}

/***************************************************************************/
 
/*bacground*/

/****************************************************************************/

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000;
}

@-webkit-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-moz-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-o-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

#back {
  background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 400s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 400s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#front {
  background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 250s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 250s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 250s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 250s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



/******************************************************************/
/******comment********************/
/*******************************************************************/
.p-comment{
    text-align: center;
    color: #fff;
    margin-top: 5px;
}
.margin-top-20{
    margin-top: 60px
}

/**************************hala tarheib welcome.html********************************************/
.img-svg{
    width: 28%
}

.type-marg-top{
    margin-top: 40px;
    margin-bottom: 40px
}
.p-white{
    color: #fff;
    margin-top: 20px;
    font-size: 23px
}
span.num{
    font-size: 20px;
    color: #96663d
}

@media screen and (max-width: 768px) {
    .img-svg{
    width: 60%
}
}
@media screen and (max-width: 600px) {
    .img-svg{
    width: 70%
}
}
/*********************************/
.content100{
    height: auto !important
}